*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

/* CONTENEDOR PRINCIPAL */

.contenedor-imagen{
    position: relative;
    width: 1500px;
    height: 1000px;
}

/* IMAGEN */

.contenedor-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* FORMULARIO ENCIMA */

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

/* FORM */

form{
    background: rgba(145, 207, 255, 0.9);
    padding: 35px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

/* TITULO */

h2{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(47, 44, 151);
}

.subtitle{
    text-align: center;
    margin-bottom: 20px;
}

/* INPUTS */

.input-group{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
    color: rgb(86, 92, 171);
    font-weight: bold;
}

input,
textarea{
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid #000000;
    outline: none;
}

input:focus,
textarea:focus{
    border-color: rgb(47, 0, 128);
}

/* BOTON */

.btn{
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: rgb(1, 143, 168);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background: black;
}

/* RESPONSIVE */

@media(max-width:768px){

    .contenedor-imagen{
        width: 95%;
        height: auto;
    }

    .contenedor-imagen img{
        height: 750px;
    }

    .formulario{
        width: 90%;
    }
}