/* FOOTER SOLAMENTE */
.footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FOOTER */
.footer{
    background-color: rgb(0, 0, 0);
    padding: 80px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

/* CONTENEDOR DEL FOOTER */
.footer .container{
    max-width: 1200px;
    margin: 0 auto;
}

/* FILAS */
.footer-row{
    display: flex;
    flex-wrap: wrap;
}

/* COLUMNAS */
.footer-link{
    width: 25%;
    padding: 0 15px;
}

/* TITULOS */
.footer-link h4{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 10px;
    display: inline-block;
}

/* LISTAS */
.footer-link ul{
    list-style: none;
}

/* LINKS */
.footer-link ul li a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

/* HOVER */
.footer-link ul li a:hover{
    color: rgb(184, 183, 183);
    padding-left: 6px;
}

/* RESPONSIVE */
@media (max-width:991px){

    .footer-row{
        text-align: center;
    }

    .footer-link{
        width: 100%;
        margin-bottom: 30px;
    }
}

/* TEXTO PERSONALIZADO */
.footer .lol{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
}